{:deps
 {org.clojure/clojure {:mvn/version "1.11.1"}
  edn-query-language/eql {:mvn/version "2021.07.18"}
  com.lambdaisland/classpath {:mvn/version "0.4.44"}
  io.github.nextjournal/clerk {:git/sha "94eee72017d9f0eb3ccacd6df23fcc79138f794c"}
  io.github.jerems/prose {:git/tag "v78", :git/sha "6373376862"}
  djblue/portal {:mvn/version "0.33.0"}
  metosin/malli {:mvn/version "0.9.2"}
  com.taoensso/timbre {:mvn/version "5.2.1"}
  com.wsscode/pathom3 {:mvn/version "2022.10.19-alpha"}
  org.openapitools.openapidiff/openapi-diff-core {:mvn/version "2.1.0-beta.4"}
  markdown-clj/markdown-clj {:mvn/version "1.11.4"}}

 :aliases {:build {:deps {io.github.seancorfield/build-clj
                          {:git/tag "v0.8.3" :git/sha "7ac1f8d"}}
                   :ns-default build}}

 :paths ["src" "resources"]}
